
body {
    margin: 0;
    padding: 0;
}

.widthPagina {
    width: 1094px;
    margin: 0 auto;
}

/* Parte do MENU inicial da página */

header {
    background-image: url('./assets/background1.png');
    background-size: cover;
    width: 100%;
    display: flex;
    flex-direction: column;

    font-family: Inter;
    color: white;
    height: 560px;
}

    header h1 {
        font-size: 40px;
        padding-top: 60px;
        width: 40%;
    }

    header h4 {
        font-size: 20px;
        width: 40%;
        font-weight: 400;
    }

    #menu {
        padding-top: 40px;
        padding-left: 60px;
    }

/* Parte inferior do header */

nav {
    background-color: #EAECE5;
}

.navegacaotopo {
    height: 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Inter';
    font-size: 20px;
    color: #122235;
}

    .menu2 {
        display: flex;
        align-items: center;
        gap: 10px;
    }


/* Descrição do conteúdo */

#opcao1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 400px;
    background-color: #FFFFFF;
    margin-top: auto;
    /* gap: 55px; */
}

.superior {
    margin-right: 0;
}

.superior iframe {
    margin-right: 5px;
}

#lateralOpcao1 {
    margin-left: 50px;
}

#lateralOpcao1 h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    color: #247BA0;
}

#lateralOpcao1 p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

/* Segunda descrição do conteúdo */

#carrossel {
    background-color: #247BA0;
    height: 450px;
}

#carrossel h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    color: #FFFFFF;
    text-align: center;
    padding-top: 80px;
}

#depoimentos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
    gap: 33px;
}

#cards {
    display: grid;
    grid-auto-flow: column;
}

.cards {
    margin: 64px auto;
}

.button {
    margin: auto 0;
}

#seta-esquerda {
    display: none;
    cursor: pointer;
    margin: auto;
}
    #seta-esquerda:hover {
        transform: translateY(-7px);
        transition-duration: 0.3s;
    }

#seta-direita {
    display: flex;
    cursor: pointer;
}
    #seta-direita:hover {
        transform: translateY(-7px);
        transition-duration: 0.3s;
    }

#Samantha {
    display: none;
}

/* Rodapé do site */

footer {
    background-color: #FFFFFF;
    padding: 70px 0;
}

.footer {
    text-align: center;
}

.footer h2 {
    margin: 0;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 32px;
    line-height: 150%;
}

form{ 
    margin-top: 40px;
}

input {
    height: 40px;
    width: 300px;
    border: none;
    border-radius: 8px;
    background: #EAECE5;
    margin: 15px;
    padding-left: 10px;
}

button {
    height: 40px;
    width: 250px;
    background: #247BA0;
    border-radius: 5px;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #EAECE5;
    margin-top: 30px;
    margin-bottom: 50px;
    cursor: pointer;
}

    button:hover {
        background-color: #318fb8;
        color: white;
        transform: translateY(-7px);
        transition-duration: 0.5s;
        box-shadow: 0px 15px 20px #1f5972;
    }